body {
    margin: 0;
    width: 100vw;
}

nav {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    z-index: 100;
    width: 100vw;
    top: 0;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
}

.rules {
    width: 100%;
}

.rule {
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    border-right: 2px solid black;
}

.variations {
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
}

.var-item {
    padding: 8px;
    border-right: 2px solid black;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.var-item:hover {
    background-color: black;
    color: white;
}

.thispage {
    background-color: black;
    color: white;
}

footer{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    bottom: 0;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}